* {
    margin:0;
    padding:0;
}
a {
    text-decoration:none;
}
li {
    list-style:none;
}
img {
    border-style:none;
}
.clearfix::after {
    content:"";
    clear:both;
    display:block;
}